@import url(font.css);
@import url(pace-minimal.css);

html {
	transition: background-color 0.2s var(--mdui-motion-easing-standard);
}

body {
	/* 背景图片覆盖整个页面 */
	background-size: cover;
	/* 背景图片不重复 */
	background-repeat: no-repeat;
	/* 背景图片固定位置 */
	background-attachment: fixed;
	/* 确保背景图片始终居中 */
	background-position: center;
	/* 取消边距确保全屏 */
	margin: 0px;
	min-height: 100vh;
}

//微调card样式
.mdui-theme-dark mdui-card {
	background-color: rgb(var(--mdui-color-surface-container));
}
.mdui-theme-auto mdui-card {
	@media (prefers-color-scheme: dark) {
		background-color: rgb(var(--mdui-color-surface-container));
	}
}

.glass {
	mdui-dialog {
		&::part(overlay) {
			backdrop-filter: blur(0.75px);
		}

		&::part(panel) {
			background-color: rgba(var(--mdui-color-surface-container-high), 0.35);
			backdrop-filter: blur(7.5px);
			-webkit-backdrop-filter: blur(7.5px);
		}

		mdui-top-app-bar[slot="header"] {
			background-color: rgba(var(--mdui-color-surface-container-high), 0.25);
		}
	}

	mdui-card {
		backdrop-filter: blur(7.5px);
		-webkit-backdrop-filter: blur(7.5px);
	}
}

.mdui-theme-dark .glass mdui-card {
	background-color: rgba(var(--mdui-color-surface-container), 0.75);
}
.mdui-theme-light .glass mdui-card {
	background-color: rgba(var(--mdui-color-surface-container-low), 0.6);
}
.mdui-theme-auto .glass mdui-card {
	@media (prefers-color-scheme: dark) {
		background-color: rgba(var(--mdui-color-surface-container), 0.75);
	}
	@media (prefers-color-scheme: light) {
		background-color: rgba(var(--mdui-color-surface-container-low), 0.6);
	}
}